{% extends 'classroom/layout.html' %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form id="form-add-task" action="{% url 'add-task' clas_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-2">
                    <label for="title" class="form-label">Title</label>
                    <input class="form-control" type="text" name="title" id="title">
                </div>
                <div class="mb-2">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="description" id="description" rows="6"></textarea>
                </div>
                <div class="mb-2">
                    <label for="due_datetime" class="form-label">Due</label>
                    <div class="input-group">
                        <input class="form-control form-date" style="cursor: pointer;" type="text" value="No due date" id="due_datetime" data-bs-toggle="modal" data-bs-target="#modal-due-datetime" readonly>
                        <button class="btn btn-primary" type="button" id="btn-clear-due-datetime">Clear</button>
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="files">Files</label>
                    <input type="file" name="files" class="form-control" multiple id="files">
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <a class="btn btn-primary" href="{% url 'tasks' clas_id %}">Cancel</a>
                    <input class="btn btn-primary ms-2" type="submit" value="Create">
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="modal-due-datetime" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-2">
                        <label for="due_date" class="form-label">Date</label>
                        <input class="form-control" type="date" name="due_date" id="due_date" form="form-add-task">
                    </div>
                    <div class="col mb-2">
                        <label for="due_time" class="form-label">Time</label>
                        <input class="form-control" type="time" name="due_time" id="due_time" form="form-add-task">
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <input type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal" value="Close">
                </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}