{% extends 'classroom/layout.html' %}

{% block layout-body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Classroom</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item d-flex flex-column justify-content-center me-2">
                        <div>Welcome back, {{ user.username }}</div>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-sm btn-primary" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-sm btn-primary" href="{% url 'login' %}">Login</a>
                    </li>
                </ul>
            {% endif %}
         
        </div>
        </div>
    </nav>
    <div class="container my-4">
        {% if breadcrumb %} 
            <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for bread in breadcrumb %}
                        <li class="breadcrumb-item active"><a class="text-decoration-none" href="{{ bread.url }}">{{ bread.name }}</a></li>
                    {% empty %}
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
    
        {% block body %}{% endblock %}
    </div>
{% endblock layout-body %}




