{% extends 'classroom/layout.html' %}
{% block body %}
    <div class="card" style="height: 200px">
        <div class="card-body d-flex justify-content-end flex-column">
            <div class="d-flex justify-space-between">
                <div class="cart-title h5 me-auto d-inline-block">
                    Matematika
                </div>
                <button class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#modal-info">Info</button>
            </div>
        </div>
    </div>

    {% with room.id as room_id %}
        {% include 'classroom/nav-room.html' %}
    {% endwith %}

    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'add-material' room.id %}" class="btn btn-primary">Add Material</a>
    </div>

    {% for material in materials %}    
        <div id="material-{{ material.id }}" class="card-material card mb-3">
           
            <div class="card-body">
                <div class="card-title"><span class="fw-medium">{{ material.title }}</span> <span class="small">{{ material.created_at|timesince }} ago</span></div>
                <div class="card-text mb-4" style="white-space: pre-line;">{{ material.description }}</div>
                <div class="row gx-2">
                    {% for material_file in material.files.all %}
                        <div class="col-md-4">
                            <div class="card flex-row mb-2">
                                <div class="card-header bg-transparent rounded-0 border-bottom-0 border-end">
                                    <div class="d-inline-block" style="width: 40px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"  fill="currentColor" viewBox="0 0 16 16">
                                            <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="line-clamp-1 small">{{ material_file.filename }}</div>
                                </div>
                                <a href="{% url 'material-file' material_file.id %}" class="stretched-link"></a>
                            </div>
                        </div>
                    {% empty %}
                    {% endfor %}
                </div>
            </div>
            <div class="comments-parent card-footer bg-transparent pt-3" data-comment-expand="false">
                <button class="comment-expand-toogle btn">Show all</button>
                <div class="comments">
                    {% for comment in material.get_comments_lastest_3_items %}
                        {% include 'classroom/comment.html' %}
                    {% empty %}
                    {% endfor %}
                </div>

            </div>
            <div class="card-footer bg-transparent px-1">
                <div class="d-flex">
                    <input class="comment-input form-comment" type="text" placeholder="Type comment here...">
                    <input class="btn btn-sm btn-primary ms-3 comment-submit" type="submit" value="Send">
                </div>
            </div>
        </div>
    {% empty %}
    {% endfor %}

    <div class="modal fade" id="modal-info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            {% comment %} <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">About</h5>
            </div> {% endcomment %}
            <div class="modal-body">
            <h4>{{ room.name }}</h4>
            <div>{{ room.description }}</div>
            <div>Room : {{ room.room_place }}</div>
            <div>Subject : {{ room.subject }}</div>
            <div>Class code : {{ room.room_code }}</div>
            <button type="button" class="btn btn-secondary ms-auto d-block" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <div id="page-data" data-room-id="{{ room_id }}"></div>
{% endblock %}
