{% extends 'classroom/layout-main.html' %}
{% block body %}
    {% include 'classroom/header-info.html' %}
    {% include 'classroom/nav-clas.html' %}

    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'add-material' clas.id %}" class="btn btn-primary">Add Material</a>
    </div>

    {% for material in materials %}    
        <div id="material-{{ material.id }}" class="card-material card mb-3">
            <div class="card-body">
                <div class="card-title"><span class="fw-medium">{{ material.title }}</span> <span class="small text-secondary">{{ material.created_at|timesince }} ago</span></div>
                <div class="card-text mb-4" style="white-space: pre-line;">{{ material.description }}</div>
                <div class="row gx-2">
                    {% for material_file in material.files.all %}
                        <div class="col-md-4">
                            <div class="card flex-row mb-2">
                                <div class="card-header bg-transparent rounded-0 border-bottom-0 border-end">
                                    <div class="d-inline-block" style="width: 40px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"  fill="currentColor" viewBox="0 0 16 16">
                                            <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="line-clamp-1 small">{{ material_file.filename }}</div>
                                </div>
                                <a href="{% url 'material-file' material_file.id %}" class="stretched-link"></a>
                            </div>
                        </div>
                    {% empty %}
                    {% endfor %}
                </div>
            </div>
            <div class="comments-parent {% if material.comments.count > 0 %}card-footer pt-3{% endif %} bg-transparent" data-comment-expand="false">
                <div class="comments">
                    {% for comment in material.get_comments_lastest_3_items %}
                        {% include 'classroom/comment.html' %}
                    {% empty %}
                    {% endfor %}
                </div>
                <button class="comment-expand-toogle btn p-0" {% if not material.comments.count > 3 %}hidden{% endif %}>Show all</button>
            </div>
            <div class="card-footer bg-transparent px-1">
                <div class="d-flex">
                    <input class="comment-input form-comment" type="text" placeholder="Type comment here...">

                    <div style="cursor: pointer;" class="ms-1 comment-submit me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="36px" height="36px" class="py-1" fill="#212529" viewBox="0 0 16 16">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                        </svg> 
                    </div>       
                </div>
            </div>
        </div>
    {% empty %}
    {% endfor %}

    <div id="page-data" data-clas-id="{{ clas.id }}"></div>
{% endblock %}
