<div class="row justify-content-center">
    <div class="col-md-6">
        <ul class="nav nav-pills nav-justified mt-5 mb-4">
            <li class="nav-item">
                <a class="nav-link {% if page_name == 'instruction' %}active{% endif %} " aria-current="page" href="{% url 'task-detail' room.id task.id %}">Instruction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page_name == 'submission' %}active{% endif %}" href="{% url 'task-submission' room.id task.id %}">Student work</a>
            </li>
        </ul>
    </div>
</div>