<div class="row justify-content-center">
    <div class="col-md-6">
        <ul class="nav nav-pills nav-justified mt-5 mb-4">
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/materials/1' %}active{% endif %} " aria-current="page" href="{% url 'materials' room_id %}">Materials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tasks' room_id %}">Tasks</a>
            </li>
        </ul>
    </div>
</div>