{% extends 'classroom/layout.html' %}

{% block body %}
<form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username">Username</label>
        <input class="form-control" autofocus type="text" name="username">
    </div>
    <div class="mb-3">
        <label for="email">Username</label>
        <input class="form-control" type="email" name="email">
    </div>
    <div class="mb-3">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password">
    </div>
    <div class="mb-3">
        <label for="confirmation">Confirm Password</label>
        <input class="form-control" type="password" name="confirmation">
    </div>
    <input class="btn btn-primary mb-3" type="submit" value="Register">

    <span>Already have an account? <a href="{% url 'login' %}">Login.</a></span>
</form>
{% endblock %}

