{% extends 'classroom/layout-auth.html' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-5">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <h4 class="text-center">Register</h4>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" autofocus type="text" name="username">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control" type="email" name="email">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" name="password">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="confirmation">Confirm Password</label>
                    <input class="form-control" type="password" name="confirmation">
                </div>
                <span>Already have an account? <a class="text-decoration-none" href="{% url 'login' %}">Login.</a></span>
                <input class="btn btn-primary mt-3 w-100" type="submit" value="Register">
            </form>
        </div>
    </div>
{% endblock %}

