{% extends 'classroom/layout.html' %}
{% block body %}

    {% include 'classroom/nav-room.html' %}
    
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'add-task' room_id %}" class="btn btn-primary">Add Material</a>
    </div>

    {% for task in tasks %}    
        <div class="card mb-3">
            <div class="card-body">
                <div class="cart-title fw-bold">{{ task.title }} <span class="fw-normal">{{ task.created_at }}</span></div>
                <div class="cart-text">{{ task.description }}</div>
                <a class="stretched-link" href=""></a>
            </div>
        </div>
    {% empty %}
    {% endfor %}
{% endblock %}
